streamlit
numpy
Pillow
opencv-python-headless==4.5.5.64
deepface
torch
tensorflow==2.15.0  # Downgrade to avoid issues with KerasTensor
keras==2.9.0
google-generativeai
pandas
nltk
tf-keras  # To ensure compatibility with legacy Keras
