tf-keras
mtcnn
streamlit
numpy
Pillow
opencv-python-headless
deepface
torch
spacy
google-generativeai
pandas
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
